* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}
/*---NAVBAR---*/
.botonSuscribirse {
    background-color: #6a0dad;
    border-radius: 4px;
}

.botonSuscribirse:hover {
    background-color: #2a0250;
    color: white;
}


.nav-link:hover {
    color: #9602f9 !important;
    transition: color 0.3s ease;
}

/* ---MAIN--- */
.contenedorMayor{
    background: linear-gradient(#6a0dad, #2a0250, #2a0250, #6a0dad);
    display: flex;
    justify-content: space-between;
}
.contenedorFlex {
    margin-top: 50px;
    height: 60vh;
    width: 30%;
}

.texto {
    color: white;
    text-align: center;
}

.botonLink {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.boton1 {
    background-color: #921de6;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}

.boton1:hover {
    background-color: #6a0dad;
}

.boton2:hover {
    background-color: #6a0dad;
}

.boton2 {
    color: white;
    background-color: #921de6;
    border-radius: 20px;
    padding: 10px 40px;
}
.imagen{
    box-shadow: 400px 40px 0px 0px black inset;
    max-width: 50%;
}
.card{
    margin: 10%;
    border: solid rgb(37, 37, 37);
}
.card-body{
    background-color: rgb(23, 23, 23);
}
a{
    text-decoration: none;
}
@media (max-width: 465px){
    section{
        margin: 0;
    }
}

@media (max-width: 374px) {
    .nabvarLogotipo {
        display: none;
    }
}

@media (max-width: 991px) {
    .botonSuscribirse {
        display: none;
    }
}

footer {
    height: 200px;
    background-color: rgb(34, 33, 33);
}

.contenedorImg {
    display: flex;
    justify-content: center;
}

.logo {
    height: 70px;
}

.linkError404 {
    color: white;
    border-radius: 50px;
    padding: 5px;
    font-size: 20px;
}

.linkError404:hover {
    color: #9602f9 !important;
    transition: color 0.3s ease;
}

.contenedorLinks {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
}

.logoApp {
    height: 40px;
    border: 3px solid transparent;
    padding: 5px;
}

.logoApp:hover {
    border: 3px solid #9602f9;
    border-radius: 3px;
    transition: color 0.3s ease;
}

.contenedorLogos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
}