* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}


/*---NAVBAR---*/
.botonSuscribirse {
    background-color: #6a0dad;
    border-radius: 4px;
}

.botonSuscribirse:hover {
    background-color: #2a0250;
    color: white;
}


.nav-link:hover {
    color: #9602f9 !important;
    transition: color 0.3s ease;
}

/* ---MAIN--- */
.contenedorMayor {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("./IMG/PV_About_Amazon_Blog_Image_1.jpg") no-repeat center center/cover;
}

/* Capa oscura encima del fondo */
.contenedorMayor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    z-index: 1;
}

section {
    position: relative;
    z-index: 2;
    margin: 50px;
    color: white;
}

.texto {
    color: white;
    text-align: center;
    font-size: 30px;
}

.botonLink {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.botonInicioSesion {
    background-color: #921de6;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}

.botonInicioSesion:hover {
    background-color: #6a0dad;
}


.botonPrueba {
    color: white;
    background-color: #921de6;
    border-radius: 20px;
    padding: 10px 40px;
}

.botonPrueba:hover {
    background-color: #6a0dad;
}

.card {
    margin: 20%;
    border: solid rgb(37, 37, 37);
    transition: 1s ease;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.card:hover {
    filter: drop-shadow(0 0 2rem crimson);
    margin: 18%;
}

.card-body {
    background-color: rgb(23, 23, 23);
}

a {
    text-decoration: none;
}

.dimensionCarrusel {
    margin: 10%;
}
.dimensionCarrusel h1{
    color: white;
}

.carousel-inner img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}
.carousel-inner h1{
    color: white;
}

@media (max-width: 768px) {
    .contenedorMayor {
        background: url("./IMG/PV_About_Amazon_Blog_Image_1.jpg") center/cover no-repeat;
        flex-direction: column;
        align-items: center;
    }

    .contenedorMayor::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.69);
        z-index: 1;
    }

    section {
        width: 100%;
        margin: 100px;
        text-align: center;
        position: relative;
        z-index: 2;
        color: white;
    }

    .carousel-inner img {
        height: 300px;
    }
}

@media (max-width: 374px) {
    .navbarLogotipo {
        display: none;
    }
}

@media (max-width: 991px) {
    .botonSuscribirse {
        display: none;
    }
}

/* footer */
footer {
    height: 200px;
    background-color: rgb(34, 33, 33);
}

.contenedorImg {
    display: flex;
    justify-content: center;
}

.logo {
    height: 70px;
}

.linkError404 {
    color: white;
    border-radius: 50px;
    padding: 5px;
    font-size: 20px;
}

.linkError404:hover {
    color: #9602f9 !important;
    transition: color 0.3s ease;
}

.contenedorLinks {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
}

.logoApp {
    height: 40px;
    border: 3px solid transparent;
    padding: 5px;
}

.logoApp:hover {
    border: 3px solid #9602f9;
    border-radius: 3px;
    transition: color 0.3s ease;
}

.contenedorLogos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
}

/* intro */
#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 1s ease forwards;
    animation-delay: 3s;
    /* tiempo visible */
}

.logo img {
    width: 220px;
    animation: zoom 2s ease forwards;
}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Contenido de la página */
#contenido {
    opacity: 0;
    animation: showContent 1s ease forwards;
    animation-delay: 3.5s;
    /* aparece después del splash */
}

@keyframes showContent {
    to {
        opacity: 1;
    }
}