* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}

/*---NAVBAR---*/
.botonSuscribirse {
    background-color: #6a0dad;
    border-radius: 4px;
}

.botonSuscribirse:hover {
    background-color: #2a0250;
    color: white;
}


.nav-link:hover {
    color: #9602f9 !important;
    transition: color 0.3s ease;
}

/* ---MAIN--- */
.contenedorMayor {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("./IMG/PV_About_Amazon_Blog_Image_1.jpg") no-repeat center center/cover;
}

/* Capa oscura encima del fondo */
.contenedorMayor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    z-index: 1;
}

section {
    position: relative;
    z-index: 2;
    margin: 50px;
    color: white;
}

.texto {
    color: white;
    text-align: center;
    font-size: 30px;
}

.botonLink {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.botonInicioSesion {
    background-color: #921de6;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}

.botonInicioSesion:hover {
    background-color: #6a0dad;
}


.botonPrueba {
    color: white;
    background-color: #921de6;
    border-radius: 20px;
    padding: 10px 40px;
}

.botonPrueba:hover {
    background-color: #6a0dad;
}

.card {
    margin: 20%;
    border: solid rgb(37, 37, 37);
    transition: 1s ease;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.card:hover {
    filter: drop-shadow(0 0 2rem crimson);
    margin: 18%;
}

.card-body {
    background-color: rgb(23, 23, 23);
}

a {
    text-decoration: none;
}

.dimensionCarrusel {
    margin: 10%;
    color: white;
}

.carousel-inner {
    color: white;
}

.carousel-inner img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .contenedorMayor {
        background: url("./IMG/PV_About_Amazon_Blog_Image_1.jpg") center/cover no-repeat;
        flex-direction: column;
        align-items: center;
    }

    .contenedorMayor::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.69);
        z-index: 1;
    }

    section {
        width: 100%;
        margin: 100px;
        text-align: center;
        position: relative;
        z-index: 2;
        color: white;
    }

    .carousel-inner img {
        height: 300px;
    }
}


@media (max-width: 465px) {
    .texto {}
}

@media (max-width: 374px) {
    .navbarLogotipo {
        display: none;
    }
}

@media (max-width: 991px) {
    .botonSuscribirse {
        display: none;
    }
}